{% extends 'proofing/base.html' %}
{% import "macros/components.html" as components %}
{% import "macros/proofing.html" as m %}


{% block title %}Upload status | Ambuda{% endblock %}


{% block content %}
<div class="prose">
<h1>Upload status</h1>

<p>{% trans %}
We are currently creating your project. If you accidentally close this page,
don't worry: your project will still be created.
{% endtrans %}</p>

<p>{% trans %}
You can track your project's progress with the progress bar below. This
progress bar updates every 5 seconds.
{% endtrans %}</p>

<p class="text-sm text-slate-500">Task ID:
  <code class="text-xs">{{ task_id }}</code>
</p>

{% set url = url_for('proofing.create_project_status', task_id=task_id) %}
<div x-data="htmlPoller('{{ url }}')">
  {# Initial state: show a pending progress bar. The poller will replace
     this div's content with the real status every 5 seconds. #}
  <div class="my-4 rounded w-full bg-slate-100 h-4">
    <div class="rounded bg-green-300 h-4" style="width: 0%">&nbsp;</div>
  </div>
  <p>Beginning upload &hellip;</p>
</div>
</div>

{% endblock %}
